body {
    background-color: rgb(221, 147, 240);

    font-size: 18px;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
}

.avatar {
    width: 200px;
    border-radius: 10px;
    box-shadow: 10px 10px 18px rgb(185, 2, 231);
    padding: 20px;
    border: 3px solid rgb(185, 2, 231);
}

.mySelf p {
    margin: 0;
}

.container {
    max-width: 900px;
    margin: auto;
}

.mySocialMedia {
    padding: 20px 40px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 18px rgb(185, 2, 231);
    padding: 20px;
    border: 3px solid rgb(185, 2, 231);
}

.myHobbies {
    padding: 20px 40px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 18px rgb(185, 2, 231);
    padding: 20px;
    border: 3px solid rgb(185, 2, 231);
}

.myWork {
    padding: 20px 40px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 18px rgb(185, 2, 231);
    padding: 20px;
    border: 3px solid rgb(185, 2, 231);
}

.myProjects {
    padding: 20px 40px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 18px rgb(185, 2, 231);
    padding: 20px;
    border: 3px solid rgb(185, 2, 231);
    
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}
